[submodule "Firmware0_1/drivers"]
	path = Firmware0_1/drivers
	url = https://github.com/ihavn/IoT_Semester_project.git
[submodule "Firmware0_1/Firmware0_1/FreeRTOS"]
	path = Firmware0_1/Firmware0_1/FreeRTOS
	url = https://github.com/ihavn/VIA_FreeRTOS_AVRMEGA
